:root {
	--super-color: #b80c09;
	--super-color: #f8f32b;
	--super-color: #8aa399;
	--super-color: #7d84b2;
	--super-color: #db5461;
	--super-color: #07b;
	--font-color: #333;
	--background: #ddd;
}

body {
	margin: 0;
	overflow-y: scroll;
	background: var(--background);
	font-family: sans-serif;
	font-size: 14px;
	position: relative;
	padding: 90px 30px 30px 330px;
	padding: 60px 0 0 300px;
	/*min-height: 100vh;*/
	color: var(--font-color);
}

a {
	color: inherit;
	text-decoration: underline;
	font-weight: bold;
	outline: 0;
}

input,
textarea {
	font: inherit;
	outline: 0;
	box-shadow: none;
}

/****** TAGS ******/
div.tags {
	margin: -5px;
	display: flex;
	flex-wrap: wrap;
}

div.tags span,
div.tags a {
	margin: 5px;
	display: block;
	padding: 3px 6px;
	border-radius: 2px;
	background: rgba(0, 0, 0, .15);
}

div.tags a {
	text-decoration: none;
	transition: .3s;
}

div.tags a:hover {
	background: rgba(0, 0, 0, .25);
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 100;
}

#overlay.shown {
	display: block;
}

#overlay div {
	display: block;
	background: #fff;
	margin: 50vh auto 0 auto;
	padding: 30px;
	box-sizing: border-box;
	transform: translate(0, -50%);
	width: 250px;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2em;
}