menu {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;

	margin: 0;
	padding: 0;

	width: 300px;

	background: #333;
	color: #eee;
}

menu ul {
	margin: 0;
	padding: 0;
}

menu ul li {
	list-style: none;
	margin-bottom: 3px;
}

menu ul li:last-child {
	margin-bottom: 0;
}

menu ul li a {
	display: block;
	padding: 0.5em 20px;
	font-weight: normal;
	text-decoration: none;
	color: rgba(255, 255, 255, .7);
	transition: .2s;
}

menu ul li a:hover {
	color: #fff;
	border-color: var(--super-color);
	border-left-width: 6px;
}

menu ul li ul li a {
	padding-left: 30px;
}

menu > ul > li > a,
menu > ul > li > ul > li > a {
	border-left: 3px solid transparent;
}

menu > ul:last-child {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: 40px;
	background: #222;
}

menu > ul:last-child > li:first-child > a {
	font-size: 1.1em;
}