#risultati_di_ricerca {
	display: grid;
	/*grid-template-columns: calc(70% - 15px) calc(30% - 15px);*/
	grid-template-columns: 7fr 3fr;
	grid-gap: 30px;
}

#risultati_di_ricerca .risultati {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

#risultati_di_ricerca .risultati > p {
	margin: 0;
	background: #eee;
	padding: 20px;
	border-radius: 2px;
}

#risultati_di_ricerca .risultati > div {
	background: #eee;
	padding: 20px;
	border-radius: 2px;
}

#risultati_di_ricerca .risultati > div > div:first-child {
	display: flex;
	flex-wrap: nowrap;
}

#risultati_di_ricerca .risultati > div > div:first-child > a {
	display: block;
	width: 100px;
	height: 125px;
	margin-right: 10px;
}

#risultati_di_ricerca .risultati > div > div:first-child > a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}

#risultati_di_ricerca .risultati > div > div:first-child > div {
	width: calc(100% - 100px - 10px);
}

#risultati_di_ricerca .risultati > div > div:first-child > div h1 {
	display: block;
	margin: 0 0 10px 0;
}

#risultati_di_ricerca .risultati > div > div:first-child > div h1 a {
	font-weight: normal;
	text-decoration: none;
	transition: .3s;
}

#risultati_di_ricerca .risultati > div > div:first-child > div h1 a:hover {
	color: var(--super-color);
}

#risultati_di_ricerca .risultati > div > div:last-child {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 5px -5px -5px -5px;
}

#risultati_di_ricerca .risultati > div > div:last-child a {
	margin: 5px;
	display: block;
	font-weight: normal;
	line-height: 25px;
	padding: 0 6px;
	background: #ddd;
	border-radius: 2px;
	text-decoration: none;
	transition: .2s;
}

#risultati_di_ricerca .risultati > div > div:last-child a:hover {
	color: rgba(255, 255, 255, .7);
	/*background: var(--super-color);*/
	box-shadow: inset 0 25px 0 var(--super-color);
}

#risultati_di_ricerca .filtri {
	display: block;
	background: #eee;
}